# temp file #
*~
*.~
*.swp

# bin file #
*.[oa]
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
confdefs.h
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
conftest.cpp
conftest.err
conftest.i
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
